.mainpane.center
  .bordered-box
    - if @error
      .warning=@error
    %dl.details
      %dt.heading Project Name
      %dd=h @project.name
      %dt.heading Project Owner
      %dd
        %a{:href => "/account/show/#{@user.username}"}=h @user.realname
      %dt.heading Description
      %dd=h @project.description
      - if @project.source_code_url
        %dt.heading Source Code URL
        %dd
          %a{:href => @project.source_code_url}=h @project.source_code_url
      - unless @techs.empty?
        %dt.heading Technologies 
        %dd
          - @techs.each do |tech|
            .tech=h tech.tech
      -unless @assigned.empty?
        %dt.heading Assigned
        %dd
          - @assigned.each do |assigned|
            .tech
              %a{:href => "/account/show/#{e assigned.username}"}=h assigned.realname
    - if project_owner?(@project)
      %div{:style => "min-height: 1.5em"}
        %a.right{:href => "/project/delete/#{@project.id}", :onclick => 'return confirm("Are you sure?")'} Delete This Project
    - if assigned?(@project)
      %div{:style => "min-height: 1.5em"}
        %a.right{:href => "/project/reject/#{@project.id}", :onclick => 'return confirm("Are you sure?")'} Unassign myself from this Project
    - else
      %div{:style => "min-height: 1.5em"}
        %a.right{:href => "/project/assign/#{@project.id}"} Assign myself to this Project
